{% extends 'base.html' %}

{% block title %}WebDiff{% endblock %}

{% block content %}

<div class="container">
  <h1>WebDiff</h1>
  
  <form action="{% url 'compare' %}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <textarea name="fromlines" class="form-control">{{ fromlines }}</textarea>
      </div>
      <div class="col">
        <textarea name="tolines" class="form-control">{{ tolines }}</textarea>
      </div>
    </div>
    <div class="my-3">
      <input type="submit" value="Compare" class="btn btn-secondary btn-block">
    </div>
  </form>

{% if diff %}
{{ diff|safe }}
{% endif %}

</div>
{% endblock %}
